@import "../../node_modules/bootstrap/scss/functions";
@import './utils/variables';

@import '../../node_modules/bootstrap/scss/maps';
@import './utils/utilities';

@import './pages/index.scss';

@import "../../node_modules/bootstrap";

// 我們自己客製化的檔案
@import './base/reboot';
@import './base/fontStyle';
@import './mixins/bg-gradient';
@import './pages/about-us';
@import './pages/index.scss';
@import './base/base';
@import './utils/custom-color';
@import './layout/header.scss';
@import './layout/footer.scss';