<!-- 最新消息 -->
<section class="pt-60 pb-80 pt-lg-160 pb-lg-40 news-radial-gradient">
  <div class="container">
    <h2 class="lts-40 lts-lg-48 fw-bold text-white fs-40 fs-lg-3 mb-40">最新消息</h2>
    <div class="row g-0">
      <div class="col-lg-12">
        <div class="py-32 py-lg-40 px-12 px-lg-16 border-white border-top border-bottom">
          <div class="d-flex align-items-center mb-8">
            <span class="material-icons fs-24 text-white me-16">
              emergency
            </span>
            <time class="lts-16 fw-bold text-white">2023.06.30</time>
          </div>
          <h2 class="fw-bold text-white fs-5 mb-12">產品升級公告</h2>
          <div class="d-lg-flex justify-content-between align-items-start">
            <p class="fw-bold text-white mb-12 mb-lg-0">
              榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。
              <br>
              歡迎您了解本次升級帶來的更為卓越的性能！
            </p>
            <img src="../assets/images/index-end-arrow-notch.png" alt="index-end-arrow-notch">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="py-32 py-lg-40 px-12 px-lg-16 border-white border-bottom border-end-lg">
          <div class="d-flex align-items-center mb-8">
            <span class="material-icons fs-24 text-white me-16">
              emergency
            </span>
            <time class="lts-16 fw-bold text-white">2023.06.30</time>
          </div>
          <h2 class="fw-bold text-white fs-5 mb-12">限時優惠活動</h2>
          <p class="fw-bold text-white mb-12">
            為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！
          </p>
          <img src="../assets/images/index-end-arrow-notch-sm.png" alt="index-end-arrow-notch-sm">
        </div>
      </div>
      <div class="col-lg-6 mb-40 mb-lg-76">
        <div class="py-32 py-lg-40 px-12 px-lg-16 border-white border-bottom">
          <div class="d-flex align-items-center mb-8">
            <span class="material-icons fs-24 text-white me-16">
              emergency
            </span>
            <time class="lts-16 fw-bold text-white">2023.04.18</time>
          </div>
          <h2 class="fw-bold text-white fs-5 mb-12">新功能上線</h2>
          <p class="fw-bold text-white mb-12">
            為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。
          </p>
          <img src="../assets/images/index-end-arrow-notch-sm.png" alt="index-end-arrow-notch-sm">
        </div>
      </div>
      <div class="text-center mb-0 mb-lg-96">
        <a href="./news.html">
          <img src="../assets/images/index-news-seemore.png" alt="查看更多">
        </a>
      </div>
      <p class="d-none d-lg-block fw-bold text-white text-end">
        為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料
      </p>
    </div>
  </div>
</section>