<!-- 使用分享 -->
<section class="pt-60 pt-lg-160 pb-80 pb-lg-40 overflow-hidden share-radial-gradient position-relative">
  <div class="container">
    <div class="row align-items-center mb-16 mb-lg-24">
      <div class="col-lg-5 mb-16">
        <h2 class="lts-40 lts-lg-48 fw-bold text-white fs-40 fs-lg-3">使用分享</h2>
      </div>
      <div class="col-lg-7 mb-24 mb-lg-0">
        <p class="fw-bold text-white">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
      </div>
      <div class="col-lg-12 mb-24 mb-lg-40">
        <div class="d-flex align-items-center">
          <span class="fw-bold text-white">01</span>
          <span><img src="../assets/images/index-share-icon.png" alt="horizontal line"></span>
          <span class="fw-bold text-white">04</span>
        </div>
      </div>
      <span class="material-icons text-white fs-80">
        emergency
      </span>
    </div>
    <!-- mobile -->
    <ul class="row row-cols-md-2 d-flex d-lg-none">
      <li class="col mb-24">
        <div class="bg-primary-400 d-flex flex-column p-24 h-351">
          <div class="flex-grow-1">
            <span class="d-inline-block fw-bold text-white mb-32">Zona<i
                class="material-icons fs-8 mx-8">circle</i>Taipei</span>
            <p class="fw-bold text-white">
              ALPHABOX+
              真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
            </p>
          </div>
          <p class="d-flex align-items-center fw-bold text-white mt-auto">
            <i class="material-icons fs-6 me-16">circle</i><i class="material-icons fs-6 me-16">circle</i>
            ALPHABOX+ Dianne
          </p>
        </div>
      </li>
      <li class="col mb-24">
        <div class="bg-white d-flex flex-column p-24 h-351">
          <span class="d-inline-block fw-bold mb-32">Lin<i class="material-icons fs-8 mx-8">circle</i>Chiayi</span>
          <p class="flex-grow-1 fw-bold">
            非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。
          </p>
          <p class="d-flex align-items-center fw-bold mt-auto">
            <i class="material-icons fs-6 me-16">circle</i><i class="material-icons fs-6 me-16">circle</i>
            ALPHABOX+ Felix
          </p>
        </div>
      </li>
      <li class="col mb-24">
        <div class="bg-primary-400 d-flex flex-column p-24 h-351">
          <div class="flex-grow-lg-1">
            <span class="d-inline-block fw-bold text-white mb-32">云<i
                class="material-icons fs-8 mx-8">circle</i>Taipei</span>
            <p class="fw-bold text-white">
              我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！
            </p>
          </div>
          <p class="d-flex align-items-center fw-bold text-white mt-auto">
            <i class="material-icons fs-6 me-16">circle</i><i class="material-icons fs-6 me-16">circle</i>
            ALPHABOX+ Dianne
          </p>
        </div>
      </li>
      <li class="col">
        <div class="bg-white d-flex flex-column p-24 h-351">
          <div class="flex-grow-lg-1">
            <span class="d-inline-block fw-bold mb-32">Zichi<i
                class="material-icons fs-8 mx-8">circle</i>Kaohsiung</span>
            <p class="fw-bold">
              讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！
            </p>
          </div>
          <p class="d-flex align-items-center fw-bold mt-auto">
            <i class="material-icons fs-6 me-16">circle</i><i class="material-icons fs-6 me-16">circle</i>
            ALPHABOX+ Vito
          </p>
        </div>
      </li>
    </ul>

    <!-- share swiper start -->
    <div class="d-none d-lg-block">
      <div class="swiper share-swiper d-md-block vw-lg-100 mb-0 mb-lg-48">
        <ul class="swiper-wrapper h-416 mb-0">
          <li class="swiper-slide col-4">
            <div class="bg-primary-400 d-flex flex-column p-40 h-100">
              <div class="flex-grow-1">
                <span class="d-inline-block fw-bold text-white mb-32">Zona<i
                    class="material-icons fs-8 mx-8">circle</i>Taipei</span>
                <p class="fw-bold text-white">
                  ALPHABOX+
                  真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                </p>
              </div>
              <p class="d-flex align-items-center fw-bold text-white mt-auto">
                <i class="material-icons fs-6 me-16">circle</i><i class="material-icons fs-6 me-16">circle</i>
                ALPHABOX+ Dianne
              </p>
            </div>
          </li>
          <li class="swiper-slide col-4">
            <div class="bg-white d-flex flex-column p-40 h-100">
              <span class="d-inline-block fw-bold mb-32">Lin<i class="material-icons fs-8 mx-8">circle</i>Chiayi</span>
              <p class="flex-grow-1 fw-bold">
                非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。
              </p>
              <p class="d-flex align-items-center fw-bold mt-auto">
                <i class="material-icons fs-6 me-16">circle</i><i class="material-icons fs-6 me-16">circle</i>
                ALPHABOX+ Felix
              </p>
            </div>
          </li>
          <li class="swiper-slide col-4">
            <div class="bg-primary-400 d-flex flex-column p-40 h-100">
              <div class="flex-grow-lg-1">
                <span class="d-inline-block fw-bold text-white mb-32">云<i
                    class="material-icons fs-8 mx-8">circle</i>Taipei</span>
                <p class="fw-bold text-white">
                  我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！
                </p>
              </div>
              <p class="d-flex align-items-center fw-bold text-white mt-auto">
                <i class="material-icons fs-6 me-16">circle</i><i class="material-icons fs-6 me-16">circle</i>
                ALPHABOX+ Dianne
              </p>
            </div>
          </li>
          <li class="swiper-slide col-4">
            <div class="bg-white d-flex flex-column p-40 h-100">
              <div class="flex-grow-lg-1">
                <span class="d-inline-block fw-bold mb-32">Zichi<i
                    class="material-icons fs-8 mx-8">circle</i>Kaohsiung</span>
                <p class="fw-bold">
                  讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！
                </p>
              </div>
              <p class="d-flex align-items-center fw-bold mt-auto">
                <i class="material-icons fs-6 me-16">circle</i><i class="material-icons fs-6 me-16">circle</i>
                ALPHABOX+ Vito
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="row d-none share-swiper d-lg-flex align-items-center mb-lg-136">
        <div class="col-8">
          <div class="swiper-scrollbar position-static">
            <div class="swiper-scrollbar-drag bg-white"></div>
          </div>
        </div>
        <div class="col-4 d-flex align-items-center">
          <p class="text-white fw-bold">SCROLL</p>
        </div>
      </div>
    </div>
    <!-- share swiper end -->

    <p class="d-none d-lg-block fw-bold text-white">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
  </div>
  <div class="position-absolute top-100 start-50 translate-middle">
    <p style="color: #FFFFFF0A;" class="fs-128 fs-lg-400 font-shrikhand fst-italic">ALPHABOX+</p>
  </div>
</section>