// 聯絡我們
.contact{
    .title{
        font-size: 48px;
        letter-spacing: 16px;
    }
    .rounded-circle{
        width: 12px;
        height: 12px;
    }
    .line{
       display: inline-block;
        height: 12px;
        width: 124px;
        background-color: #fff;
    }
    .comments{
        height: 120px;
    }
}

// 選角色
.number{
    font-size: 128px;
    font-weight: 300;
    @media (min-width:768px) {
        font-size: 300px;
    }
}

.line-arrow{
    display: inline-block;
    width: 155px;
    height: 24px;
    background-image: url("../images/line_end_arrow_notch.png");
    background-size: cover;
    background-position: center center;
}

.aiintro-card-content{
    background-color: #000;
    transition: 0.5s;
    &:hover{
        background-color:  #00000080;
    }
    // font-size: 400px;
    // font-weight: 300;
}

.line-arrow{
    width: 155px;
    height: 24px;
}

.share-swiper {
    .swiper-scrollbar {
        background: rgba(255, 255, 255, 0.2);
    }
}